.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6em 1.25em;
    border: none;
    border-radius: 0.4em;
    width: fit-content;
    transition: 0.3s all;
}